#div1{
    background-color: purple;
    height: 1000px;
    width: 750px;
}
#AI{
    height: 50px;
    width: 50px;
}
#div2{
    background-color: white;
    height: 1000px;
    width: 7500px;
    visibility:visible;
}